body{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header     header   header"
                       "left-gutter main right-gutter"
                       "footer     footer   footer";
}


header {
  grid-area: header;
  background-image: url('../img/buying-a-house-for-dummies.jpg');
  background-size: cover;
  background-position: 0 20%;
}
header h1 {
  background-color: #2A5A05;
  color: #FFFFFF;
  display: inline-block;
  padding: .2em 1em;
  margin: 25% 0 0 0;
  font-size: 25px;
}
@media (min-width: 400px){
  header h1 {
    border-radius: 0 10px 0 0;
    font-size: 32px;
    width: auto;
  }
}

main{
  grid-area: main;
}