/**************** Custom styles ********/

/* Generic stuff */

body{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header     header   header"
                       "left-gutter main right-gutter"
                       "footer     footer   footer";

  font-family: Arial, sans-serif;
}


header {
  grid-area: header;
  background-image: url('../img/buying-a-house-for-dummies.jpg');
  background-size: cover;
  background-position: 0 20%;
}
header h1 {
  background-color: #2A5A05;
  color: #FFFFFF;
  display: inline-block;
  padding: .2em 1em;
  margin: 25% 0 0 0;
  font-size: 25px;
}
@media (min-width: 400px){
  header h1 {
    border-radius: 0 10px 0 0;
    font-size: 32px;
    width: auto;
  }
}

main{
  grid-area: main;
}

.buttonesque{
  background-color: #2A5A05;
  color: #CFC39D;
  border-radius: 5px;
  padding: 7px 15px;
  display: inline-block;
  margin: .5em;
  text-align: center;
  text-decoration: none;
  border:none;
}
.buttonesque:hover{
  background-color: #3B6B16;
  color: #FFFFFF;
}

/* Index Page */

#access-buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#access-buttons > div{
  border: #2A5A05 1px solid;
  border-radius: 10px;
  box-shadow: #2A5A05 5px 5px 10px;
  margin: 1em auto;
  padding: 1em;
  text-align: center;
}
@media (min-width: 400px){
  #access-buttons > div {
    width: 40%;
  }
}

/* Client Form */
@media (min-width: 400px){
  form{
    max-width: 66%;
    margin: 1em auto;
    border: #2A5A05 1px solid;
    border-radius: 10px;
    box-shadow: #2A5A05 5px 5px 10px;
  }
}

.input_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1em;
}

fieldset{
  border: #2A5A05 1px solid;
  border-radius: 10px;
}

label, legend{
  color: #2A5A05;
  text-align: right;
  margin: .5em 1em .5em 0;
}

input, select{
  border: #2A5A05 1px solid;
  border-radius: 10px;
  width: 100%;
}
input[type="submit"]{

}